<li style="margin-bottom:1em;"><p>Please fill in the information at the top of this homework sheet, including
your name and umail address.   If the other two items apply, please fill
  them in as well.  Please do this every single time you submit homework for this class.   
  It is important to fill in both name and umail every time, since handwriting is sometimes difficult
  to decipher.  Having both helps us ensure you get credit for your work.</p>

<p> You can also edit the pdf (or scan your written work after printing the pdf), and upload your homework to Gradescope instead of turning it in during class. </p>

<p>Also: JUST write your name at the top of all sheets and turn in all sheets UNCONNECTED.</p>

<p>DO NOT staple, paper clip, spit-fold-and-tear, or do ANYTHING that would make it difficult to automatically 
  feed your paper through a scanner.</p>
  
</li>
